### Importing libraries

In [17]:
%matplotlib inline

import pandas
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import time
import Recommenders as Recommenders
import Evaluation as Evaluation

### Load and check data
- remove unnamed column and review_score because we don't need

In [18]:
products_path = 'book_data.csv'

# e-commerce.csv datası hatalı

#products_path = 'new_movie_data.csv'

product_df_1 = pd.read_csv(products_path)
product_df_1.head()

   Unnamed: 0  book_id  user_id  rating  original_publication_year
0           0   9891.0  48047.0     3.0                     2008.0
1           1   9891.0  48262.0     3.0                     1997.0
2           2   9891.0  48425.0     3.0                     2005.0
3           3   9891.0  48459.0     4.0                     1960.0
4           4   9891.0  48598.0     3.0                     1925.0

In [19]:
product_df_1=product_df_1.drop(labels=['Unnamed: 0','rating','original_publication_year'], axis=1)
product_df_1.head()

   book_id  user_id
0   9891.0  48047.0
1   9891.0  48262.0
2   9891.0  48425.0
3   9891.0  48459.0
4   9891.0  48598.0

### we dont need to use all data  just sample data can help us

In [20]:
sample_df = product_df_1.head(10000)

In [21]:
users = sample_df['user_id'].unique()
len(users)

8954

### this recommender created for song recommender and i try to use on book data sets 
- thats why there is variable named "songs"
- From https://github.com/dvysardana/RecommenderSystems_PyData_2016

In [22]:
songs = sample_df['book_id'].unique()
len(songs)

111

### train test split

In [23]:
train_data, test_data = train_test_split(sample_df, test_size = 0.20, random_state=0)
train_data.head()

      book_id  user_id
7389   9972.0  40394.0
9275   9993.0  43104.0
2995   9924.0  34004.0
5316   9950.0  26562.0
356    9895.0  50221.0

In [24]:
test_data.head()

      book_id  user_id
9394   9994.0  50972.0
898    9901.0  31405.0
2398   9918.0  26276.0
5906   9956.0  33022.0
2343   9917.0  36926.0

### import recommender.py

In [25]:
Recommenders.item_similarity_recommender_py

Recommenders.item_similarity_recommender_py

### create model item similarity

In [26]:
is_model = Recommenders.item_similarity_recommender_py()
is_model.create(train_data, 'user_id', 'book_id')

### For User 5 recommends

In [27]:

#Print the product for the user in training data
user_id = users[5]
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data product for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data product for the user userid: 48759.0:
------------------------------------------------------------------------------------
9891.0
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 1
no. of unique songs in the training set: 111
Non zero values in cooccurence_matrix :1

   user_id    song  score  rank
0  48759.0  9918.0    0.0   1.0
1  48759.0  9906.0    0.0   2.0
2  48759.0  9958.0    0.0   3.0
3  48759.0  9951.0    0.0   4.0
4  48759.0  9935.0    0.0   5.0
5  48759.0  9971.0    0.0   6.0
6  48759.0  9905.0    0.0   7.0
7  48759.0  9936.0    0.0   8.0
8  48759.0  9934.0    0.0   9.0
9  48759.0  9948.0    0.0  10.0

### For  User 7 recommends

In [28]:
user_id = users[7]
#Fill in the code here
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data books for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)
print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data books for the user userid: 51151.0:
------------------------------------------------------------------------------------
9891.0
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 1
no. of unique songs in the training set: 111
Non zero values in cooccurence_matrix :1

   user_id    song  score  rank
0  51151.0  9918.0    0.0   1.0
1  51151.0  9906.0    0.0   2.0
2  51151.0  9958.0    0.0   3.0
3  51151.0  9951.0    0.0   4.0
4  51151.0  9935.0    0.0   5.0
5  51151.0  9971.0    0.0   6.0
6  51151.0  9905.0    0.0   7.0
7  51151.0  9936.0    0.0   8.0
8  51151.0  9934.0    0.0   9.0
9  51151.0  9948.0    0.0  10.0